<section>
    <div>TISSO VISION</div>
    <div>Find the ideal gift for your loved ones.</div>
    <div>choose gift <span><img src="{{ 'Arrow 1.png' |  asset_url }}" width="24px" height=""/> </span></div>
</section>

{% schema %}
{
    "name": "Custom Main Section",
    "settings": [
        
        ],
    "presets": [{ "name": "Custom Main Section"}]    
}
{% endschema %}